html,
body,
.container {
  height: 100%;
}

body {
  font-family: Dosis, sans-serif;
  background-color: #233f57;
}

.container .row {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-container,
.random-container {
  width: 19em;
  max-width: 90%;
  margin: 0 auto;
}

.input-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.search input,
.random button {
  font-size: 1.3em;
  height: 3em;
}

.search input {
  background-color: #233f57;
  color: orange;
  font-weight: 600;
  border: 3px solid orange;
  border-radius: 1.5em;
  padding-right: 2.3em;
  padding-left: 2.3em;
}

.clear-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(7em);
          transform: translateX(7em);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.fa-times {
  color: orange;
  font-size: 1.1em;
}

.fa-times:hover {
  color: #66afe9;
  text-shadow: 1px 1px 12px #66afe9;
}

.random {
  margin-bottom: 0;
}

.random button {
  border: 0;
  border-radius: 1.5em;
  font-weight: 600;
}

.random button,
.random button:focus,
.random button:active,
.random button:visited {
  background-color: orange;
  color: #233f57;
}

.random button:hover {
  background-color: #233f57;
  border: 3px solid orange;
  color: orange;
}
